{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}      
      <div class="form-group mt-3" style="text-align: right;">
        <label for="exampleInputPassword1" class="mb-2 mt-2"> الايميل</label>
        <input   placeholder="ادخل الايميل " style="text-align: right;" type="email" name="email" class="form-control mt-2" id="exampleInputPassword1">
      </div>

    <input type="submit" class="btn btn-primary w-100" value="ارسال الى الايميل">
  </form>
{% endblock %}
