{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block content %}

    <form method="post" action="" style="text-align: right;">
      <h5 class="mt-4" style="text-align: right;">تسجيل </h5>
      {% csrf_token %}
      {% bootstrap_form signupform %}

      <input type="submit" value="signup" class="btn btn-primary w-100" />
      <a class="mt-3" style="display:block;text-decoration:none;color:black" href="{% url 'login' %}">لديك حساب بالفعل <span style="color:blue">تسجيل الدخول</span></a>
    </form>
  
 
{% endblock content %}
