{% load static %}

   <!--start footer-->
    <div class="footer" style="background-color: #131A22;color:white">
        <div class="container">
         
            <div class="row pt-3 pb-3">
                <div class="col">
                  <h5 style="font-weight: bold;">دعنا نساعدك</h5>
                  <a href="" style="display:block;color:white">المساعدة</a>
                  <a href=""style="display:block;color:white">سياسات وأسعار الشحن</a>
                  <a href=""style="display:block;color:white">طلبات الإرجاع والاستبدال</a>
                  <a href=""style="display:block;color:white">تحميل تطبيق أمازون</a>
  
                </div>
                <div class="col">
                  <h5 style="font-weight: bold;"> كن شريكاً معنا</h4>
                  <a href=""style="display:block;color:white">البيع على أمازون</a>
                  <a href=""style="display:block;color:white">  الشحن مع أمازون</a>
                
                </div>
                <div class="col">
                  <h5 style="font-weight: bold;"> 	
                    تسوق معنا  </h5>
                  <a href=""style="display:block;color:white"> حسابك </a>
                  <a href=""style="display:block;color:white"> مشترياتك </a>
                  <a href=""style="display:block;color:white"> عناوينك </a>
                  <a href=""style="display:block;color:white"> قوائمك </a>
  
                </div>
                <div class="col">
                  <h5 style="font-weight: bold;"> 	
                    اعرف المزيد عنا  </h5>
                  <a href=""style="display:block;color:white"> معلومات عن أمازون </a>
                  <a href=""style="display:block;color:white"> وظائف </a>
               
  
                </div>
              
            </div>
        </div>
      </div>
      <!--end footer-->
  