@charset "utf-8";
#parent_cart{
    position: relative;
    box-sizing: border-box;
}
#number_products_in_carts{
position:absolute;
z-index:1000;
margin-left: 7px;
margin-top: -10px;
font-weight: bold;
font-size: 20px;
color:red;
}
#img_car_shoping{
    z-index:1;
}
.navbar{
    background-color:rgb(233, 230, 227);
}
/*navbar2*/

.a_navbar2{
    height:50px;
    font-size:15px;
    color:rgba(0,0,0,.5);;
}
.a_navbar2:hover{
border:2px solid black;
color:rgba(0,0,0,.5);;

}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}