{% extends 'base.html' %}
{% load static %}

{%block body%}
    <!--start body-->
<div class="container-fluid">
    <h4 style="text-align:right;margin-right:100px;" class="mt-3 mb-3"> الطلبات السابقة </h4>
        <div class="row">
            {% if order_list%}
                <div class="col-md-3">
                    2
                </div>
                <div class="col-md-8 p-1">
                
                  
                        {% for order in order_list %}
                        <!-- بدايه عنوان الرئيسي كل طلب -->
                        <div class="border p-2" 
                        style="background-color:rgb(211, 211, 204);display:flex;justify-content:space-between;
                        flex-direction:row-reverse;border-radius: 5px;">
                           
                            <div>
                                <p>تم تقديم الطلب</p>
                                <p>9 فبراير 2022</p>
                            </div>
                            <div>
                                <p>الاجمالى</p>
                                <p>{{order.total_order}} جنية</p>
                            </div>
                            <div>
                                <p>الشحن الى</p>
                                <p> {{order.user.first_name}} {{order.user.last_name}}</p>
                            </div>
                            <div>
                                <p>  رقم الطلب {{order.id}}</p>
                                <p>  الحالة:منتهى</p>

                            </div>
                        </div>

                        <!-- نهاية عنوان الرئيسي كل طلب -->
                        <!-- بدايه عنوان فرعى كل طلب -->
                        {% for one_orderdetail in order.orderdetails_set.all %}
                        <div class="border p-2 mt-2" style="display: flex;justify-content:flex-end">                           
                       
                            <div class="mr-3">
                                <p>{{one_orderdetail.product.PRDname}}</p>
                                <a style="display:block;color: white;padding:5px;text-align: center;
                                text-decoration: none; background-color:rgb(199, 102, 23)" href="{% url 'detail_product' one_orderdetail.product.id %}">قم بالشراء مره اخرى  </a>

                            </div>
                            <div>
                                <img src="{{one_orderdetail.product.PRDimage.url}}" alt="" style="width: 150px;height: 150px">
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}

                        <!-- نهاية عنوان فرعى كل طلب -->
                </div>
            {% else %}
            <p class="border w-100 p-3" style="text-align: center;font-weight: bold;">لا يوجد اي طلبات سابقة </p>
            {% endif %}
        </div>

</div>
    <!--end body-->

{% endblock body %}
